// Color Palettes
// ====================================================

// Wire Frame
$white: #fff;
$lighter-grey: #e6e6e6;
$light-grey: #bfbfbf;
$grey: #808080;
$dark-grey: #404040;
$darker-grey: #202020;


// Global Styles
// ====================================================
body {
	background-color: $white;
	color: $dark-grey;
}


// Bootstrap Media Query overrides
// ====================================================

// Small Devices
@media (min-width: 576px) {

}

// Medium Devices
@media (min-width: 768px) {

}

// Large Devices
@media (min-width: 992px) {
	
}

// Extra Large Devices
@media (min-width: 1200px) {

}